# Simple recommender system 2

In this example we will go throught the logic steps to select variables, which might reflect best users evaluations and filter our dataset in order to improve the roubustness of our recommendation.

Objective: We want to create a general recommender based on users voting

Data source: [Movielens](https://www.kaggle.com/datasets/rounakbanik/the-movies-dataset?select=movies_metadata.csv), we are using the Movies Metadataset

## Libraries

In [1]:
import pandas as pd
import numpy as np

## Data

In [5]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/e/2PACX-1vT8PqdPiIP_4ZbL2SpXsYyC0t8TyVKkUkvPU1xbU4OeuJonf4ecrwWuScgAxvqr9fT1d3DNxBZLkSC4/pub?output=csv", low_memory=False)

df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,FALSE,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,FALSE,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,FALSE,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,FALSE,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,FALSE,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

## Decide on requiates 

1. Calculate the number of votes garnered by the 80th percentile movie
2. Only consider movies longer than 45 minutes and shorter than 300 minutes
3. Only consider movies that have garnered more than m votes

In [16]:
m = df['vote_count'].quantile(0.80)
m

50.0

In [7]:
q_movies = df[(df['runtime'] >= 45) & (df['runtime'] <= 300)]

In [8]:
q_movies = q_movies[q_movies['vote_count'] >= m]

In [9]:
q_movies.shape

(8963, 24)

## Chose a metric to rate

Function to compute the IMDB weighted rating for each movie

In [11]:
C = df['vote_average'].mean()
C

5.618207215133889

In [12]:
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Compute the weighted score
    return (v/(v+m) * R) + (m/(m+v) * C)

## Calculate the score under conditions

In [13]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

## List in a decrease order

In [14]:
q_movies = q_movies.sort_values('score', ascending=False)

In [15]:
q_movies[['title', 'vote_count', 'vote_average', 'score', 'runtime']].head(25)

,title,vote_count,vote_average,score,runtime
10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.855148,190.0
314,The Shawshank Redemption,8358.0,8.5,8.482863,142.0
834,The Godfather,6024.0,8.5,8.476278,175.0
40251,Your Name.,1030.0,8.5,8.366584,106.0
12481,The Dark Knight,12269.0,8.3,8.289115,152.0
2843,Fight Club,9678.0,8.3,8.286216,139.0
292,Pulp Fiction,8670.0,8.3,8.284623,154.0
522,Schindler's List,4436.0,8.3,8.270109,195.0
23673,Whiplash,4376.0,8.3,8.269704,105.0
5481,Spirited Away,3968.0,8.3,8.266628,125.0
2211,Life Is Beautiful,3643.0,8.3,8.263691,116.0
1178,The Godfather: Part II,3418.0,8.3,8.261335,200.0
1152,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.256051,133.0
1176,Psycho,2405.0,8.3,8.245381,109.0
351,Forrest Gump,8147.0,8.2,8.184252,142.0
1184,Once Upon a Time in America,1104.0,8.3,8.183804,229.0
1154,The Empire Strikes Back,5998.0,8.2,8.178656,124.0
18465,The Intouchables,5410.0,8.2,8.176357,112.0
289,Leon: The Professional,4293.0,8.2,8.170276,110.0
3030,The Green Mile,4166.0,8.2,8.169381,189.0
1170,GoodFellas,3211.0,8.2,8.160414,145.0
2216,American History X,3120.0,8.2,8.159278,119.0
1161,12 Angry Men,2130.0,8.2,8.140785,96.0
9698,Howl's Moving Castle,2049.0,8.2,8.138499,119.0
2884,Princess Mononoke,2041.0,8.2,8.138264,134.0